<div class="container" style="padding-top: 10%;">
    <div class="card text-center">
        <div class="card-header">
          JOLC
        </div>
        <div class="card-body">
          <h4 class="card-title">Información Personal</h4>
          <p class="card-text">Nombre: Josselyn Vanessa Polanco Gameros.</p>
          <p class="card-text">Carné: 201602676</p>
          <a href="/principal" class="btn btn-secondary">Comenzar</a>
        </div>
        <div class="card-footer text-muted">
          Segundo semestre 2021
        </div>
      </div>
     
</div>

